C:/Users/Mariana Velez/OneDrive - Universidad de los andes/Documentos/Universidad/8 semestre/Inferencia E Informática/Laboratorio/taller-03/.Rproj.user/shared/notebooks/C27BB9DC-taller-03/1/s/czdk5cqym7x0x_t